/* Add here all your CSS customizations */

.multiselect-container {
	/* So that the navbar dosen't go above the dropdown menus*/
	z-index: 1000000;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
}

html.dark .tab-content {
	background-color: #2e353e;
	border-color: #2e353e;
}

html.dark .tabs .nav-tabs{
	border: none;
}

html.dark .tabs .nav-link {
	background-color: #282d36;
	border-color: #1d2127;
}

html.dark .tabs .active .nav-link {
	background-color: #2e353e;
}

html.dark .tabs .nav-link:hover {
	background-color: #282d36;
	border-color: #1d2127;
}

html.dark .tabs .nav-link:focus {
	background-color: #2e353e;
	border-color: #1d2127;
}

.indicator::before {
	content: "●"; 
}

.indicator-success::before {
	color: green;
}
.indicator-danger::before {
	color: red;
}


