{{define "cp_commands"}}
{{template "cp_head" .}}
<header class="page-header">
    <h2>Command settings</h2>
</header>

{{template "cp_alerts" .}}

<!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="nav-item active">
                        <a class="nav-link show active" href="#global-settings" data-toggle="tab">Global settings</a>
                    </li>
                    {{range .ChannelOverrides}}
                    <li class="nav-item">
                        <a class="nav-link" href="#override-{{.ID}}" data-toggle="tab">Override #{{.ID}}</a>
                    </li>
                    {{end}}
                    <li class="nav-item">
                        <a class="nav-link" href="#new-override" data-toggle="tab">New channel override</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="global-settings" class="tab-pane active show">
                        <form method="post" action="/manage/{{.ActiveGuild.ID}}/commands/settings/?global=true">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="prefix">Prefix</label>
                                        <input type="text" class="form-control" id="prefix" name="prefix" value="{{.CommandConfig.Prefix}}">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <i>...dust...</i>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" >Save global Settings</button>   
                                </div>
                            </div>

                            <div class="row mt-4 border-top border-info pt-4">
                                <div class="col-lg-12">
                                    {{mTemplate "commands_channel_override" "ActiveGuild" .ActiveGuild "Commands" .Commands "Override" .GlobalCommandSettings}}
                                </div>
                            </div>
                        </form>
                    </div>
                    {{$dot := .}}
                    {{range .ChannelOverrides}}
                    <div id="override-#{{.ID}}" class="tab-pane">
                        <div class="row mt-4">
                            <div class="col-lg-12">
                                <form>
                                {{mTemplate "commands_channel_override" "ActiveGuild" $dot.ActiveGuild "Commands" $dot.Commands "Override" .}}
                                </form>
                            </div>
                        </div>
                    </div>
                    {{end}}
                    <div id="new-override" class="tab-pane">
                        <div class="row mt-4">
                            <div class="col-lg-12">
                                <form>
                                {{mTemplate "commands_channel_override" "ActiveGuild" .ActiveGuild "Commands" .Commands}}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
<!-- /.row -->            
<script type="text/javascript">
    var commands = JSON.parse("{{json .Commands}}")

    function checkAll(what){
        console.log("Enabling all", what)
        $("."+what).each(function(i, item){
            item.checked = true;
        })
    }   

    function uncheckAll(what){
        $("."+what).each(function(i, item){
            item.checked = false;
        })
    }

    var copybufEnable = null;
    var copybufAutoDel = null;
    var copybufRole = null;
    function copy(channel){
        copybufEnable = [];
        copybufAutoDel = [];
        copybufRole = [];
        $("."+channel+"-enabled").each(function(i, item){
            copybufEnable[i] = item.checked;
        })
        $("."+channel+"-autodelete").each(function(i, item){
            copybufAutoDel[i] = item.checked;
        })
        $("."+channel+"-role").each(function(i, item){
            copybufRole[i] = $(item).val();
        })
    }

    function paste(channel){
        if(copybufAutoDel == null){
            alert("Nothing is copied"); 
            return;
        }

        $("."+channel+"-enabled").each(function(i, item){
            item.checked = copybufEnable[i];
        })
        $("."+channel+"-autodelete").each(function(i, item){
            item.checked = copybufAutoDel[i];
        })
        $("."+channel+"-role").each(function(i, item){
            $(item).val(copybufRole[i]);
        })
    }
</script>

{{template "cp_footer" .}}

{{end}}

{{/*Expects: 
    .Override (or nil)
    .ActiveGuild
    .Commands
*/}}
{{define "commands_channel_override"}}
{{if not .Global}}
<div class="form-row">
    <div class="form-group col-md-6">
        <label>Channels this override affects</label><br>
        <select multiple="multiple" class="form-control" data-plugin-multiselect>
            <option>TODO</option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label>Include current and future channels from the following categories</label><br>
        <select multiple="multiple" class="form-control" data-plugin-multiselect>
            <option>TODO</option>
        </select>
    </div>
</div>
{{end}}

<div class="form-row">
    <div class="form-group col-md-6">
        <label>Require one of these roles</label><br>
        <select multiple="multiple" class="form-control" data-plugin-multiselect>
            <option>TODO</option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label>Ignore users with one of these roles</label><br>
        <select multiple="multiple" class="form-control" data-plugin-multiselect>
            <option>TODO</option>
        </select>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-2">
        <div class="checkbox-custom checkbox-primary mt-3">
            <input type="checkbox" checked="" id="commands-enabled">
            <label for="commands-enabled">Commands enabled</label>
        </div>
    </div>
    <div class="form-group col-md-5">
        <label>Autodelete trigger after (seconds)</label>
        <div class="input-group mb-3">
            <span class="input-group-prepend">
                <span class="input-group-text">
                    <input type="checkbox">
                </span>
            </span>
            <input type="number" class="form-control" placeholder="Seconds..." value="10">
        </div>
    </div>
    <div class="form-group col-md-5">
        <label>Autodelete response after (seconds)</label>
        <div class="input-group mb-3">
            <span class="input-group-prepend">
                <span class="input-group-text">
                    <input type="checkbox">
                </span>
            </span>
            <input type="number" class="form-control" placeholder="Seconds..." value="10">
        </div>
    </div>
</div>
{{if .Override}}
<div class="row pt-4">
    <div class="col">
        {{mTemplate "ActiveGuild" .ActiveGuild "Parent" .Override "Commands" .Commands}}
    </div>
</div>
{{end}}
{{end}}

{{/*Expects: 
    .Parent (ChannelOverride)
    .Override (or nil)
    .ActiveGuild
    .Commands
    .ID
*/}}
{{define "commands_command_override"}}
<div class="card border border-secondary rounded">
    <header class="card-header">
        {{if .Override}}
        <h2 class="card-title">New command override</h2>
        {{else}}
        <h2 class="card-title">New command override</h2>
        {{end}}
    </header>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-2">
                <div class="checkbox-custom checkbox-primary mt-20">
                    <input type="checkbox" checked="" id="commands-enabled">
                    <label for="commands-enabled">Commands enabled</label>
                </div>
            </div>
            <div class="form-group col-md-10">
                <label>Apply to the following commands</label><br>
                <select multiple="multiple" class="form-control" data-plugin-multiselect>
                    {{range .Commands}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Require one of these roles</label><br>
                <select multiple="multiple" class="form-control" data-plugin-multiselect>
                    <option>TODO</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Ignore users with one of these roles</label><br>
                <select multiple="multiple" class="form-control" data-plugin-multiselect>
                    <option>TODO</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Autodelete trigger after (seconds)</label>
                <div class="input-group mb-3">
                    <span class="input-group-prepend">
                        <span class="input-group-text">
                            <input type="checkbox">
                        </span>
                    </span>
                    <input type="number" class="form-control" placeholder="Seconds..." value="10">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Autodelete response after (seconds)</label>
                <div class="input-group mb-3">
                    <span class="input-group-prepend">
                        <span class="input-group-text">
                            <input type="checkbox">
                        </span>
                    </span>
                    <input type="number" class="form-control" placeholder="Seconds..." value="10">
                </div>
            </div>
        </div>                
    </div>
</div>
{{end}}